{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}



{% block body %}

{% for picture in pictures %}
    <div class="card col-4">
         <img
                 src="{{ path('get_picture_content', {'picture': picture.getId()}) }}"
                 class="card-img-top"
                 alt="{{ picture.getTitle() }}"
         >
        <div class="card-body">
                <h5 class="card-title">{{ picture.getTitle() }}</h5>
                <p class="card-text">{{ picture.getDescription() }}</p>
            <p class="card-text"><small class="text-muted">{{ picture.getSharer().getUsername() }}</small></p>
            </div>
        </div>

    </div>
{% endfor %}

{% endblock %}