{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

       {% block stylesheets %}
           <head>
           <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
               <style>
                    * {
                        transition-duration: 1s;

                    }
                   .badge.badge-primary {
                       padding: 0.6rem;
                       border-radius: 15%;


                   }
                   .badge.badge-primary:hover {
                       transform: scale(1.1);
                   }
                    .card-deck {
                        display: block;
                    }
               </style>
           </head>
       {% endblock %}

{% block body %}

    <div class="card-group">
        <div class="card-deck">

            {% for picture in pictures %}
                <div class="card">
                    <img class="card-img-top" src="{{ path('get_picture_content', {'picture': picture.getId()}) }}"
                         alt="{{ picture.getTitle() }}">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">{{ picture.getDescription() }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{ picture.getSharer().getUsername() }}</small>
                        {% for tag in picture.getTags() %}
                            <small> {{ tag.getLabel() }} </small>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
    <div class="count my-4">
        {{ 'HOME.ITEM_COUNT'|trans}} {{ pictures.getTotalItemCount() }}
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pictures) }}
    </div>
{% endblock %}


